body {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      background-color: white;
    }

.slice {
      width: 800px;
      height: 200px;
      margin-bottom: 10px;
    }

.slice img {
      width: 100%;
    }

.top img {
      margin-top: 0;
    }

.middle img {
      margin-top: -25px;
    }

.bottom img {
      margin-top: -40px;
    }